@use '../base/variables' as *;
@use "../abstracts/" as *;

body > header {
  background: $orange;
  height: 79px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand-logo {
    width: 120px;
  }

  .menu-burger {
    display: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 16px;

    @include breakpoint(lg){
    display: block !important;
    }

  }
  @include breakpoint(big){
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2);
  }
}
