@use '../base/variables' as *;


body > header {
  background: $orange;
  height: 79px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .brand-logo {
    width: 120px;
  }

  .menu-burger {
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 16px;
  }
}
