@use '../base/variables' as *;
@use '../abstracts/' as *;

.empty-cart {
    font-size: 30px;
    text-align: center;
    margin-top: 16px;
}


.cart{
    height: fit-content;
    max-height: 80%;
    color: $orange-soft;
    @include flex($flex-direction: column, $flex-wrap: nowrap);

    @include breakpoint(lg){
        position: sticky;
        top: auto;
        transform: none !important;
        border-radius: $radius;
        background-color: $dark;
        padding: 16px;
        pointer-events: auto;
    }

    &__headline{
        display: flex;
        margin: 0 16px;
        padding: 16px 0;
    }

    &__close-btn{
        font-weight: 900;
        font-size: 22px;
        cursor: pointer;
        margin-left: auto;

        &:hover{
            color: $orange;
        }

        @include breakpoint(lg){
            font-size: 25px;
            display: none;
        }
    }
    
    &__delivery-fee {
        @include flex($justify-content: space-around, $align-items: center);
        padding-bottom: 8px;
        border-bottom: 2px solid $orange-soft;

        font-size: 16px;
        font-weight: 600;

        & > div > label{
            padding: 8px 10px;
            cursor: pointer;

            &:hover{
                color: $orange;
            }
        }

        & > div > input[type="radio"] {
            display: none;

            &:checked{
                +label {
                    color: $white;
                    background-color: $orange;
                    border-radius: $radius;
                }
            }
        }
        & > div {
            margin: 8px 0;
        }

        @include breakpoint(md){
            font-size: 20px;
            & > div {
                margin:  16px 0;
            }
        }
        
    }

    &__dishes-list{
        height: auto;
        overflow: scroll;
        flex-grow: 1;
    }

    &__additional{
        padding: 8px 0 0 0;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-top: 2px solid $orange-soft;
    }

    &__subtotal{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__delivery-fee-price{
        display: flex;
        justify-content: space-between;
        gap: 16px;
    }
    &__total{
        display: flex;
        justify-content: space-between;
        gap: 16px;

        & > p{
            font-size: 21px;
            font-weight: 600;
        }
    }

    &__pay-btn{
        font-size: 18px;
        font-weight: 700;

        background-color: $orange;
        color: $white;
        border-radius: 22px;
        padding: 12px 22px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;

        @include breakpoint (md){
            font-size: 22px;
        }
    }

}

.cart-item{
    padding: 16px;
    margin-top: 16px;
    background-color: $orange-soft;
    border-radius: $radius-sm;
    color: $dark;

    &__head-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__additional{
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        align-items: center;
    }

    &__amount{
        display: flex;
        gap: 8px;
    }

    &__del-btn:hover{
        color: $orange;
        & > svg {
            filter: brightness(0) saturate(100%) invert(69%) sepia(36%) saturate(6348%) hue-rotate(347deg) brightness(95%) contrast(92%);
        }
    }
    &__add-btn:hover{
        color: $orange;
    }

}



// Mobile Overlay
.cart-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: flex; 
  justify-content: center;
  align-items: flex-end;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.25s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
  }

  @include breakpoint(lg){
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    background: 0;
    pointer-events: none;

  }
    @include breakpoint(big){
    padding-left: calc((100% - 1440px) / 2);
    padding-right: calc((100% - 1440px) / 2 - 300px);
  }
}

.cart--mobile {
  width: 100%;
  background: $dark;
  border-radius: 20px 20px 0 0;
  padding: 16px;
  color: $white;

  transform: translateY(100%);
  opacity: 0;
  
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.3s ease;

  .cart-overlay.active & {
    transform: translateY(-80px);
    opacity: 1;
  }

  @include breakpoint(lg){
    display: none !important;
  }
}







//   .cart {

//   }
// }


