@use "../base/_variables" as *;
@use "../abstracts/" as *;

.category{
    margin-top: 16px;

    &__name{
        text-align: center;
        background-color: $orange;
        color: $white;
    }
    @include breakpoint(big){
        padding-left: calc((100% - 1440px) / 2);
        padding-right: calc((100% - 1440px) / 2);
  }
}