.dish {
  display: flex;
  justify-content: space-between;
  &__image {
    width: auto;
    height: 100px;
    aspect-ratio: 1.8/1;
    object-fit: contain;
  }
  &__price {
    font-size: 32px;
  }
}
