@use "../base/variables" as *;

.dish {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 8px;
    background-color: $orange-soft;
    border-radius: $radius;
    height: fit-content;

    &__image {
        width: 100%;
        max-height: 150px;
        object-fit: cover;
        border-radius: $radius-sm;
    }

    &__text{
        padding: 8px 0;
    }

    &__additional{
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
    }

    &__price {
        font-size: 24px;
        font-weight: 600;
    }

    &__add-btn{
        padding: 8px;
        background-color: $white;
        border-radius: 20px;
        font-size: 16px;
        font-weight: 600;
    }
}