@use "sass:math";
@use "sass:map";
@use "./variables" as *;
@function get-rem($fs) {
    @return math.div($fs, 16px) * 1rem;
}

@function get-min-width($breakpoint) {
    @return map.get($breakpoints, $breakpoint);
}