@use './variables' as *;

body {
  font-family: $font-main;
  color: $dark;
  background: $white;
}

h1 {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 22px;
  font-weight: 700;
  color: $gray;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

p{
  font-size: 16px;
  font-weight: 500;
}
