@use './variables' as *;
@use "../abstracts/" as *;

body {
  font-family: $font-main;
  color: $dark;
  background: $white;
}

h1 {
  font-size: 40px;
  font-weight: 800;

  @include breakpoint (md){
    font-size: 42px;
  }
  @include breakpoint (lg){
    font-size: 46px;
  }
}

h2 {
  font-size: 24px;
  font-weight: 700;
  color: $gray;

  @include breakpoint (md){
    font-size: 26px;
  }
  @include breakpoint (lg){
    font-size: 28px;
  }
}

h3 {
  font-size: 22px;
  font-weight: 700;

  @include breakpoint (md){
    font-size: 24px;
  }
  @include breakpoint (lg){
    font-size: 26px;
  }
}

p, button, span{
  font-size: 16px;
  font-weight: 600;

  @include breakpoint (md){
    font-size: 18px;
  }
  @include breakpoint (lg){
    font-size: 20px;
  }
}




